In [1]:
#pg.no15
#17/7/23
#find volumn of sphere

r=int(input("enter r:"))
v=4/3*3.14*r**3
print(v)

enter r:6
904.3199999999999

In [2]:
#pg.no.16
#17/7/23
#find volumn of cylinder

r=int(input("enter r:"))
x=int(input("enter x:"))
v=3.14*r**2*x
print(v)

enter r:5
enter x:4
314.0

In [3]:
#pg.no.17
#17/7/23
#area of triangle

b=int(input("enter breath:"))
h=int(input("enter height"))
area=1/2*b*h
print(area)

enter breath:6
enter height7
21.0

In [4]:
#pg.no.18
#18/7/23
#find reminder value of the expression a by b

a=int(input("enter a:"))
b=int(input("enter b:"))
c=a%b
print(c)

enter a:8
enter b:9
8

In [5]:
#pg.no.19
#18/7/23
#find reminder,quiotient and true division of the expression a by b.

a=int(input("enter a:"))
b=int(input("enter b:"))
c=a%b
d=a//b
e=a/b
print("reminder:",c)
print("Quiotient:",d)
print("true division:",e)

enter a:4
enter b:3
reminder: 1
Quiotient: 1
true division: 1.3333333333333333

In [8]:
#pg.no.21
#18/7/23
#find product and sum of digits of a two digit number

a=int(input("enter a:"))
c=a%10
d=a//10
prod=c*d
s=c+d
print("product:",prod," sum:",s)

enter a:45
product: 20  sum: 9

In [9]:
#pg.no 22
#18/7/23
#print digits of the given 3 digit number

a=int(input("enter a:"))
b=a%10
c=a//10
d=c%10
e=c//10

print(b)
print(d)
print(e)

enter a:345
5
4
3

In [10]:
#pg.no.23
#18/7/23
#reverse the given digits(number) 

a=int(input("enter a:"))
b=a%10
c=a//10
d=c%10
e=c//10
f=b*100+d*10+e
print(f)

enter a:456
654

In [11]:
#pg.no.24
#18/7/23
#find whether given number is positive or not.

a=int(input("enter a:"))
if a>=0:
    print(a,'is positive')
else:
    print(a,'is not positive')

enter a:1
1 is positive

In [13]:
#pg.no.25
#18/7/23
#given integer number positive, negetive or zero

a=int(input("enter a:"))
if a==0:
    print(a,'a is zero')
else:
    if a>0:
        print(a,'is positive')
    else:
        print(a,'is negative')

enter a:-55
-55 is negative

In [15]:
#pg.no.26
#18/7/23
#find biggest of three numbers

a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))

if a>b:
    if a>c:
        print(a,'is bigger')
    else:
        print(c,'is bigger')
else:
    if b>c:
        print(b,'is bigger')
    else:
        print(c,'is bigger')

enter a:4
enter b:5
enter c:6
6 is bigger

In [16]:
#pg.no.27
#18/7/23
#find the smallest of three intger numbers

a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
if a<b:
    if a<c:
        print(a,'is smallest')
    else:
        print(c,'is smallest')
else:
    if b<c:
        print(b,'is smallest')
    else:
        print(c,'is smallest')

enter a:4
enter b:3
enter c:9
3 is smallest

In [17]:
#pg.no.28
#18/7/23
#given number even or not

a=int(input("enter a:"))
if a%2==0:
    print(a,'is even')
else:
    print(a,'not even')

enter a:4
4 is even

In [18]:
#pg.no.29
#18/7/23
#given year is leap year or not
a=int(input('enter a:'))
if a%4==0:
    print(a,'is leap year')
else:
    print(a,'is not leap year')

enter a:2004
2004 is leap year

In [19]:
#pg.no.30
#18/7/23
#given number is palindrome or not
a=int(input("enter a:"))
b=a%10
c=a//10
d=c%10
e=c//10
f=b*100+d*10+e
if a==f:
    print(a,'is palindrome')
else:
    print(a,'is not palindrome')

enter a:454
454 is palindrome

In [20]:
#pg.no.31
#18/7/23
#given number single digit ot not
a=int(input("enter a:"))
if a>=0 and a<=9:
    print(a,'is a single digit')
else:
    print(a,'is not a single digit')

enter a:7
7 is a single digit

In [26]:
#pg.no.32,33
#18/7/23
#given number single, double, three or four digit number

a=int(input("a:"))
if a>=0 and a<=9:
    print(a,'is a single digit')
elif a>9 and a<=100:
        print(a,'is a double digit')
elif a>100 and a<1000:
            print(a,'is three digit')
elif a>=1000 and a<=10000:
                print(a,'is a four digit')

a:890
890 is three digit

In [30]:
#pg.no.34
#19/7/23
# given character uppercase or not

a=input("enter a:")
if a>='A' and a<='Z':
    print(a,'is upper')
else:
    print(a,'is not upper')

enter a:A
A is upper

In [31]:
#pg.no.35
#19/7/23
#given character lowercase or not

b=input("enter character:")
if b>='a' and b<='z':
    print(b,'is lowercase')
else:
    print(b,'is not lower case')

enter character:v
v is lowercase

In [33]:
#pg.no.36
#19/7/23
#given character digit or not

a=input('enter character:')
if a>='0' and a<='9':
    print(a,'is digit')
else:
    print(a,'is not digit')

enter character:6
6 is digit

In [34]:
#pg.no.37
#19/7/23
#given character upper, lower, digit or special character

a=input("enter character:")
if a>='A' and a<='Z':
    print(a,'is upper')
elif a>='a' and a<='z':
    print(a,'is lower')
elif a>='0' and a<='9':
    print(a,'is digit')
else:
    print(a,"is special character")

enter character:@
@ is special character

In [35]:
#pg.no.38
#19/7/23
#given character is a vowel or not
a=input("enter character:")
if a=='a' or a=='e' or a=='i' or a=='o' or a=='u':
    print(a,'is an vowel')
else:
    print(a,'is not an vowel')

enter character:r
r is not an vowel

In [36]:
#pg.no.39
#19/7/23
#given number is  a arithmetic operator or not

a=input("enter character:")
if a=='+' or a=='-' or a=='*'or a=='/' or a=='%' or a=='//' or a=='**':
    print(a,'is an arithmetic operator')
else:
    print(a,'is not an arithmetic operator')

enter character:*
* is an arithmetic operator

In [37]:
#pg.no.40
#19/7/23
#given operator is relational or not

a=input("enter char:")
if a=='>' or a=='<' or a=='<='or a=='>=' or a=='==' or a=='!=':
    print(a,'is an relational operator')
else:
    print(a,'is not an relational operator')

enter char:!=
!= is an relational operator

In [39]:
#pg.no.41
#19/7/23
#given character is logical or not

a=input("enter a:")
if a=='and' or a=='or' or a=='not':
    print(a,'is a logical operator')
else:
    print(a,'is not a logical operator')

enter a:or
or is a logical operator

In [40]:
#pg.no.42
#19/7/23
#given character is arithmetic, logical, relational or some other operator
a=input("enter character:")
if a=='+' or a=='-' or a=='*'or a=='/' or a=='%' or a=='//' or a=='**':
    print(a,'is an arithmetic operator')
elif a=='>' or a=='<' or a=='<='or a=='>=' or a=='==' or a=='!=':
    print(a,'is an relational operator')
elif a=='and' or a=='or' or a=='not':
    print(a,'is a logical operator')
else:
    print(a,'is some other operator')

enter character:&
& is some other operator

In [41]:
#pg.no.43
#21/7/23
#given integer zero or not

a=int(input("enter a:"))
if a:
    print(a,'is not zero')
else:
    print(a,'is zero')

enter a:0
0 is zero

In [42]:
#pg.no.44
#21/7/23
#given integer even or not using implicit check

a=int(input("enter a:"))
b=a%2
if a:
    print(a,'is not even')
else:
    print(a,'is even')

enter a:67
67 is not even

In [43]:
#pg.no.45
#21/7/23
#given year  is leap year or not using implicit check
a=int(input('enter a:'))
b=a%4
if b:
    print(a,'is not leap year')
else:
    print(a,'is leap year')

enter a:2002
2002 is not leap year

In [44]:
#re writting pg.no.43(using not operator)
#pg.no.46
#21/7/23
#given number is zero or not
a=int(input("enter a:"))
if not a:
    print(a,'is zero')
else:
    print(a,'is not zero')

enter a:6
6 is not zero

In [47]:
#re writting pg.no.44(using not operator)
#pg.no.47
#21/7/23
#given integer even or not
a=int(input("enter a:"))
b=a%2
if not b:
    print(a,'is even')
else:
    print(a,'is not even')

enter a:74
74 is even

In [48]:
#re writtingpg.no.45(using not operator)
#pg.no.48
#21/7/23
#given year leap year or not
a=int(input('enter a:'))
b=a%4
if not b:
    print(a,'is leap year')
else:
    print(a,'is not leap year')

enter a:2016
2016 is leap year

In [49]:
#pg.no.49
#24/7/23
#biggest of two numbers using termory expression
a=int(input("enter a:"))
b=int(input("enter b:"))
c=a if a>b else b
print(c,'is biggest')

enter a:4
enter b:5
5 is biggest

In [50]:
#pg.no.50
#24/7/23
#smallest of two numbers using termory expression
a=int(input("enter a:"))
b=int(input("enter b:"))
c=a if a<b else b
print(c,'is smallest')

enter a:5
enter b:4
4 is smallest

In [51]:
#pg.no.51
#24/7/23
#biggest of three numbers
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
d=a if a>b else b
e=d if  d>c else c
print(e,'is biggest')

enter a:45
enter b:56
enter c:34
56 is biggest

In [52]:
#pg.no.52
#24/7/23
#smallest of three numbers
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
d=a if a<b else b
e=d if  d<c else c
print(e,'is smallest')

enter a:89
enter b:90
enter c:12
12 is smallest

In [53]:
#pg.no.53
#24/7/23
#biggest of three numbers using nested termory expression
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
d=(a if a>c else c) if a>b else (b if b>c else c)
print(d,'is biggest')

enter a:56
enter b:89
enter c:5678
5678 is biggest

In [55]:
#pg.no.54
#24/7/23
#smallest of three numbers using nested termory expression
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
d=(a if a<c else c) if a<b else (b if b<c else c)
print(d,'is smallest')

enter a:67
enter b:89
enter c:345
67 is smallest

In [56]:
#pg.no.55
#24/7/23
#print unicode of given char

a=input("enter char:")
u=ord(a)
print(u)

enter char:h
104

In [57]:
#pg.no.56
#24/7/23
#given char is upper or not using unicode

a=input("enter char:")
x=ord(a)
if x>=65and x<=90:
    print(a,'is upper')
else:
    print(a,'is not upper')

enter char:E
E is upper

In [58]:
#pg.no.57
#24/7/23
#given char is lower or not using unicode

a=input("enter char:")
x=ord(a)
if x>=97 and x<=122:
    print(a,'is lower')
else:
    print(a,'is not lower')

enter char:y
y is lower

In [59]:
#pg.no.58
#24/7/23
#given char is digit or not using unicode

a=input("enter char:")
x=ord(a)
if x>=48 and x<=57:
    print(a,'is digit')
else:
    print(a,'is not digit')

enter char:7
7 is digit

In [60]:
#pg.no.59
#24/7/23
#given char is upper, lower, digit or special character using unicode

a=input("enter char:")
x=ord(a)
if x>=65and x<=90:
    print(a,'is upper')
elif x>=97 and x<=122:
    print(a,'is lower')
elif x>=48 and x<=57:
    print(a,'is digit')
else:
    print(a,'is special character')

enter char:*
* is special character

In [61]:
#pg.no.60
#24/7/23
#print character of given unicode
a=int(input("enter unicode:"))
c=chr(a)
print(c)

enter unicode:97
a

In [62]:
#pg.no.61
#24/7/23
#convert upper to lower case
a=input("enter character:")
x=ord(a)
if x>=65 and x<=90:
    b=x+32
    d=chr(b)
    print(d)

enter character:D
d

In [63]:
#pg.no.61
#24/7/23
#convert lower to upper case
a=input("enter character:")
x=ord(a)
if x>=97 and x<=122:
    b=x-32
    d=chr(b)
    print(d)

enter character:b
B