In [18]:
"""
pg.no.307
16/11/23
#data extraction
construct n random numbers, filter single, double and triple digit numbers from the list, using lambda function
"""
import random as rd
n=int(input('n:'))
l=[rd.randint(1,1000) for i in range(n)]
sd=filter(lambda n: n>=0 and n<10,l)
dd=filter(lambda n:n>=10 and n<100,l)
td=filter(lambda n:n>=100 and n<1000,l)

for i in sd:
    print('sd:',i,end=' ')
print('\n')
for i in dd:
    print('dd:',i,end=' ')
print('\n')
for i in td:
    print('td:',i,end=' ')

n:40
sd: 5

dd: 60 dd: 33

td: 794 td: 633 td: 902 td: 301 td: 918 td: 436 td: 127 td: 165 td: 499 td: 944 td: 520 td: 339 td: 903 td: 463 td: 677 td: 973 td: 159 td: 845 td: 142 td: 721 td: 554 td: 483 td: 967 td: 660 td: 593 td: 173 td: 369 td: 374 td: 298 td: 922 td: 821 td: 933 td: 711 td: 531 td: 349 td: 730 td: 351