In [1]:
#pg.no.93
#29/7/23
#print the diamond pattern

n=5
a=1
c=1
while c<=5:
    d=1
    while d<=n:
        print(' ',end=" ")
        d=d+1
    d=1
    while d<=a:
        print(d,end=" ")
        d=d+1
    print()
    a=a+2
    n=n-1
    c=c+1
n=11
c=1
a=0
while c<=11:
    d=1
    while d<=a:
        print(' ',end=" ")
        d=d+1
    d=1
    while d<=n:
        print(d,end=" ")
        d=d+1
    print()
    n=n-2
    a=a+1
    c=c+1

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10 11
  1 2 3 4 5 6 7 8 9
    1 2 3 4 5 6 7
      1 2 3 4 5
        1 2 3
          1